.r-row {
  display: flex;
  flex-flow: row wrap; }
  .r-row .r-col {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0.5rem; }
  .r-row .r-col-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    flex: 0 0 auto;
    padding: 0.5rem; }
    @media only screen and (max-width: 30rem) {
      .r-row .r-col-1 {
        width: 100%; } }
  .r-row .r-col-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    flex: 0 0 auto;
    padding: 0.5rem; }
    @media only screen and (max-width: 30rem) {
      .r-row .r-col-2 {
        width: 100%; } }
  .r-row .r-col-3 {
    box-sizing: border-box;
    width: 25%;
    flex: 0 0 auto;
    padding: 0.5rem; }
    @media only screen and (max-width: 30rem) {
      .r-row .r-col-3 {
        width: 100%; } }
  .r-row .r-col-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    flex: 0 0 auto;
    padding: 0.5rem; }
    @media only screen and (max-width: 30rem) {
      .r-row .r-col-4 {
        width: 100%; } }
  .r-row .r-col-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    flex: 0 0 auto;
    padding: 0.5rem; }
    @media only screen and (max-width: 30rem) {
      .r-row .r-col-5 {
        width: 100%; } }
  .r-row .r-col-6 {
    box-sizing: border-box;
    width: 50%;
    flex: 0 0 auto;
    padding: 0.5rem; }
    @media only screen and (max-width: 30rem) {
      .r-row .r-col-6 {
        width: 100%; } }
  .r-row .r-col-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    flex: 0 0 auto;
    padding: 0.5rem; }
    @media only screen and (max-width: 30rem) {
      .r-row .r-col-7 {
        width: 100%; } }
  .r-row .r-col-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    flex: 0 0 auto;
    padding: 0.5rem; }
    @media only screen and (max-width: 30rem) {
      .r-row .r-col-8 {
        width: 100%; } }
  .r-row .r-col-9 {
    box-sizing: border-box;
    width: 75%;
    flex: 0 0 auto;
    padding: 0.5rem; }
    @media only screen and (max-width: 30rem) {
      .r-row .r-col-9 {
        width: 100%; } }
  .r-row .r-col-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    flex: 0 0 auto;
    padding: 0.5rem; }
    @media only screen and (max-width: 30rem) {
      .r-row .r-col-10 {
        width: 100%; } }
  .r-row .r-col-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    flex: 0 0 auto;
    padding: 0.5rem; }
    @media only screen and (max-width: 30rem) {
      .r-row .r-col-11 {
        width: 100%; } }
  .r-row .r-col-12 {
    box-sizing: border-box;
    width: 100%;
    flex: 0 0 auto;
    padding: 0.5rem; }
    @media only screen and (max-width: 30rem) {
      .r-row .r-col-12 {
        width: 100%; } }
  @media only screen and (max-width: 95rem) {
    .r-row .r-col-lg-1 {
      box-sizing: border-box;
      width: 8.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-lg-2 {
      box-sizing: border-box;
      width: 16.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-lg-3 {
      box-sizing: border-box;
      width: 25%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-lg-4 {
      box-sizing: border-box;
      width: 33.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-lg-5 {
      box-sizing: border-box;
      width: 41.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-lg-6 {
      box-sizing: border-box;
      width: 50%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-lg-7 {
      box-sizing: border-box;
      width: 58.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-lg-8 {
      box-sizing: border-box;
      width: 66.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-lg-9 {
      box-sizing: border-box;
      width: 75%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-lg-10 {
      box-sizing: border-box;
      width: 83.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-lg-11 {
      box-sizing: border-box;
      width: 91.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-lg-12 {
      box-sizing: border-box;
      width: 100%;
      flex: 0 0 auto;
      padding: 0.5rem; } }
  @media only screen and (max-width: 64rem) {
    .r-row .r-col-md-1 {
      box-sizing: border-box;
      width: 8.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-md-2 {
      box-sizing: border-box;
      width: 16.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-md-3 {
      box-sizing: border-box;
      width: 25%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-md-4 {
      box-sizing: border-box;
      width: 33.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-md-5 {
      box-sizing: border-box;
      width: 41.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-md-6 {
      box-sizing: border-box;
      width: 50%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-md-7 {
      box-sizing: border-box;
      width: 58.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-md-8 {
      box-sizing: border-box;
      width: 66.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-md-9 {
      box-sizing: border-box;
      width: 75%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-md-10 {
      box-sizing: border-box;
      width: 83.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-md-11 {
      box-sizing: border-box;
      width: 91.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-md-12 {
      box-sizing: border-box;
      width: 100%;
      flex: 0 0 auto;
      padding: 0.5rem; } }
  @media only screen and (max-width: 48rem) {
    .r-row .r-col-sm-1 {
      box-sizing: border-box;
      width: 8.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-sm-2 {
      box-sizing: border-box;
      width: 16.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-sm-3 {
      box-sizing: border-box;
      width: 25%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-sm-4 {
      box-sizing: border-box;
      width: 33.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-sm-5 {
      box-sizing: border-box;
      width: 41.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-sm-6 {
      box-sizing: border-box;
      width: 50%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-sm-7 {
      box-sizing: border-box;
      width: 58.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-sm-8 {
      box-sizing: border-box;
      width: 66.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-sm-9 {
      box-sizing: border-box;
      width: 75%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-sm-10 {
      box-sizing: border-box;
      width: 83.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-sm-11 {
      box-sizing: border-box;
      width: 91.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-sm-12 {
      box-sizing: border-box;
      width: 100%;
      flex: 0 0 auto;
      padding: 0.5rem; } }
  @media only screen and (max-width: 30rem) {
    .r-row .r-col-xs-1 {
      box-sizing: border-box;
      width: 8.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-xs-2 {
      box-sizing: border-box;
      width: 16.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-xs-3 {
      box-sizing: border-box;
      width: 25%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-xs-4 {
      box-sizing: border-box;
      width: 33.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-xs-5 {
      box-sizing: border-box;
      width: 41.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-xs-6 {
      box-sizing: border-box;
      width: 50%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-xs-7 {
      box-sizing: border-box;
      width: 58.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-xs-8 {
      box-sizing: border-box;
      width: 66.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-xs-9 {
      box-sizing: border-box;
      width: 75%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-xs-10 {
      box-sizing: border-box;
      width: 83.3333333333%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-xs-11 {
      box-sizing: border-box;
      width: 91.6666666667%;
      flex: 0 0 auto;
      padding: 0.5rem; }
    .r-row .r-col-xs-12 {
      box-sizing: border-box;
      width: 100%;
      flex: 0 0 auto;
      padding: 0.5rem; } }

/*# sourceMappingURL=grid.css.map */
